@model bookshop.ViewModels.AuthorFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-controller="Authors" asp-action="Index" method="get">
    <p>
        <select asp-for="AuthorNationality" asp-items="Model.Nationalities">
            <option value="">All</option>
        </select>
        First Name: <input type="text" asp-for="SearchFirstName" />
        Last Name: <input type="text" asp-for="SearchLastName" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors[0].Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Authors) {
        <tr>
            <td>
                    <a href="@Url.Action("Details", "Authors", new { id = item.Id })">@Html.DisplayFor(modelItem => item.FirstName)</a>
                @*@Html.DisplayFor(modelItem => item.FirstName)*@
            </td>
            <td>
                    <a href="@Url.Action("Details", "Authors", new { id = item.Id })">@Html.DisplayFor(modelItem => item.LastName)</a>
                @*@Html.DisplayFor(modelItem => item.LastName)*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                
                @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
